<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659709608995-eqhqac3ieq9on8cj5bvhjve8q8m03m9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659709608995-eqhqac3ieq9on8cj5bvhjve8q8m03m9m</string>
	<key>API_KEY</key>
	<string>AIzaSyBnRkyOuBblGqgpKovE5cYNPZTIm80PcQE</string>
	<key>GCM_SENDER_ID</key>
	<string>659709608995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaridhaenens.passionproject-jaridhaenens-onismo</string>
	<key>PROJECT_ID</key>
	<string>passionproject-22357</string>
	<key>STORAGE_BUCKET</key>
	<string>passionproject-22357.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:659709608995:ios:f03b08bd42627b7319dd96</string>
</dict>
</plist>
